<!DOCTYPE HTML>
<html>
<!-- Site Icons -->
<link rel="shortcut icon" href="logo.png">
<link rel="logo" href="logo.png">

<head>
    <title>Halaman Login</title>
    <link rel="stylesheet" href="csslogin2.css">
</head>

<body>
    <div class="container">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <label>Username</label>
            <br>
            <input type="text" name="username">
            <br>
            <label>Email</label>
            <br>
            <input type="text" name="email">
            <br>
            <label>Password</label>
            <br>
            <input type="password" name="password">
            <br>
            <button type="submit">Register</button>
            <p> Sudah punya akun?
                <a href="login">Login di sini</a>
            </p>
        </form>
    </div>
</body>

</html>