<!-- Start Footer  -->
<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Business Time</h3>
                        <ul class="list-time">
                            <li>Monday - Friday: 08.00am to 05.00pm</li>
                            <li>Saturday - Sunday: 10.00am to 08.00pm</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>For Free Voucher</h3>
                        <form class="newsletter-box">
                            <div class="form-group">
                                <input class="" type="email" name="Email" placeholder="Email Address*" />
                                <i class="fa fa-envelope"></i>
                            </div>
                            <button class="btn hvr-hover" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Social Media</h3>
                        <p>You can find us here!</p>
                        <ul>
                            <li><a href="https://id-id.facebook.com/"><i class="fab fa-facebook"
                                        aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/twitter?lang=id"><i class="fab fa-twitter"
                                        aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/kiiits.co/"><i class="fab fa-instagram"
                                        aria-hidden="true"></i></a></li>
                            <li><a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"
                                        aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>About kiiits.co</h4>
                        <p>kiiits.co is a hijab product founded by a college student named Akita Hasna Mayanti.
                            kiiits.co uses premium fabrics in each of its products and has a very affordable
                            price.
                        </p>
                        <p>kiiits.co is your great daily hijab! </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>Information</h4>
                        <ul>
                            <li><i class="fas fa-circle"></i>About Us</font>
                            </li>
                            <li><i class="fas fa-circle"></i>Customer Service</li>
                            <li><i class="fas fa-circle"></i>Our Sitemap</li>
                            <li><i class="fas fa-circle"></i>Terms &amp; Conditions</li>
                            <li><i class="fas fa-circle"></i>Privacy Polic</li>
                            <li><i class="fas fa-circle"></i>Delivery Information</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: Akita & Annisa.
                                    Bekasi-Bojonggede
                                    <br>PNJ Street<br> ID 17123
                                </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone: <a
                                        href="tel:+62816-7524-0936">+62816-7524-0936</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a
                                        href="mailto:kiiits.co@gmail.com">kiiits.co@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer  -->

<!-- Start copyright  -->
<div class="footer-copyright">
    <p class="footer-company"> Design By :
        Akita & Annisa</p>
</div>
<!-- End copyright  -->